<header>
    <div class="container">
        <a routerLink="/" class="logo">Fogata de la Nona!</a>
        <nav>
            <ul>
                <li>
                    <a routerLink="/login">inicio de sesion</a> 
                </li>
                <li class="menu-container">
                    <a routerLink="/dashboard">Esteban</a>
                    <div class="menu">
                        <a routerLink="/perfil">perfil</a>
                        <a routerLink="/orden">Orden</a>
                        <a>Cerrar sesion</a>
                    </div>
                </li>
                <li>
                    <a routerLink="/cart-page">
                        carro <span> 3 </span>
                    </a>
                </li>
            </ul>
        </nav>
         </div>
</header>